{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block main %}
<main class="main cardgame">
<h1>Card game</h1>
{{ include('flash.html.twig') }}

<h2>{{ app.session.get("cards_left") }} cards in deck:</h2>
    <a href="{{ path('shuffle') }}">Shuffle card deck</a>
    <a href="{{ path('card_start') }}">Back</a>


    <div class="twothirds center wrap">

    {% for card in sorted_deck %}
        <div class="card">{{ card }}</div class="card">
    {% endfor %}
    </div>

</div>

</main>
{% endblock %}
